*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: auto;
    width: 675px;
    width: calc(675px - calc(110vw - 1980px));
    min-width: 675px;
    max-width: 99vw;
    overflow-y: scroll;
}
@media screen and (width <= 1270px){
    .container.menu{
        position: relative;
    }
    th.notmenu{
        position: absolute;
    }
}
@media not (any-pointer: fine){
    a{
        padding: 5px !important;
        outline: black 3px solid;
        display: block;
    }
}
.container{
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 5px;
}
.container.logoplaintext{
    padding: 5px;
    background-color: #4A59FF;
    color: white;
    margin-bottom: 15px;
}
body>noscript{
    padding: 5px;
    background-color: #b35e5e;
    color: white;
    margin-top: -10px;
    margin-bottom: 5px;
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}
a:active:not(:has(img)){
    outline: 1px black dotted;
    color: #EE0000;
}
table:not(.split), table:not(.split)>tbody>tr>th{
    border-collapse: collapse;
    border: 2px white outset;
}
table:not(.split)>tbody>tr:first-child>th{
    background-color: lightgray;
}
table.split>tbody>tr>th:first-child{
    display: block;
}
table.split>tbody>tr>th:first-child>*{
    height: 100%;
    width: 100px;
}
.rss>img{
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
}
html:target>body>table>tbody>tr>th>.incompatible{
    display: none;
}
html:target>body>.logoplaintext>a[href="#incompatible"]{
    display: none;
}
html:not(:target)>body>.logoplaintext>a[href="#"]{
    display: none;
}
@media (prefers-color-scheme: dark) {
    html{
        background: black;
    }
    .container{
    background-color: #3f3f3f;
    }
    *{
        color: white;
    }
    a{
        color: rgb(128, 100, 255);
    }
}
@media not (hover: hover) {
    #xmlcontaineropen{
    width: 1000px;
    margin-left: -200px;
    background: white;
    }
}
#xmlcontaineropen:hover{
    width: 1000px;
    margin-left: -200px;
    background: white;
}